body {
 font-family: Arial, Helvetica, sans-serif;
 font-size:1em;
}
table.listing {
 width:80%;
 border-collapse:collapse
}
.listing td, th {
 border: 1px solid #98bf21;
 padding:3px 7px 2px 7px;
}
.listing th {
 font-size:1.1em;
 text-align:left;
 padding-top: 5px;
 padding-bottom: 4px;
 background-color:#A7C942;
 color: #ffffff;
}
 .listing tr.alt td {
  color: #000000;
  background-color: #eaf2d3;
}
a:link {
 text-decoration:none;
 color: #707070;

}
a:visited {
 text-decoration:none;
 color: #707070;
}
a:hover{
 text-decoration:underline;
}
 form.formulaire {
  width: 70%;
 }
form.formulaire fieldset {
 clear: both;
 margin: 1em 0 0 0;
 padding: 10px;
 overflow: auto;
 background-color:#a7c942;
 border: 1px solid #888888;
}
form.formulaire legend {
 font-weight: bold;
}
form.formulaire div {
 clear: both;
 margin: 0;
 padding: 0.5em 0 0 0;
 overflow: visible;
}
form.formulaire label {
 display:block;
 float: left;
 width: 120px;
 text-align: right;
 padding: 2px 1ex 6px 0;
 /*vertical-align: baseline;*/
}
form.formulaire label.after {
 width:auto;
 text-align:left;
 display: inline;
 float: none;
}
form.formulaire label.long {
 clear : both;
 width: auto;
 text-align: left;
 float: none;
}

form.formulaire input, form.formulaire select, form.formulaire textarea {
 float: left;
}
form.formulaire .button-row input {
 float:none;
}
form.formulaire div.long label {
 width: auto;
 text-align: left;
 float:none
 ;
}

form.formulaire div.long textarea {
 width: 100% ;
}